In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('sample_submission.csv')

In [4]:
data.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049               1000
1           FDW14            OUT017               1000
2           NCN55            OUT010               1000
3           FDQ58            OUT017               1000
4           FDY38            OUT027               1000

In [5]:
len(data)

5681